# Android build files
build/
*.apk
*.ap_
*.aab
*.aar
*.dex
*.class

# Android Studio files
.idea/
.gradle/
local.properties
*.iml
*.hprof

# Test reports
/app/build/reports/
/app/build/test-results/

# User-specific files
.DS_Store
Thumbs.db
